@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", serif;
}

.nav-bar {
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  margin: 0 140px;
  padding: 20px 0;
}

/* nav left styles */
.nav-left {
  align-items: center;
}
.nav-left,
img {
  width: 62px;
  height: 62px;
}
.nav-text {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(17, 17, 17);
  margin-left: 11px;
}

/* nav middle style */
.nav-middle {
  list-style: none;
  max-width: 387px;
}

.nave-middle,
a {
  text-decoration: none;
}

.home {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(254, 163, 1);
  margin-left: 32px;
}
.about {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(1, 172, 253);
  margin-left: 32px;
}
.facilities {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(5, 212, 223);
  margin-left: 32px;
}
.admission {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(93, 88, 239);
  margin-left: 32px;
}

/* nav right style */
.btn-top-right {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background: rgb(254, 163, 1);
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: none;
}

/* shared styles */
.display-flex {
  display: flex;
}

/* banner styles */
.banner {
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  margin: 0 140px;
}
.banner-content {
  width: 640px;
}
.banner-img {
  width: 700px;
  height: 850px;
}

.banner-title {
  font-size: 56px;
  font-weight: 700;
}
.empowering {
  color: rgb(254, 163, 1);
}
.students {
  color: rgb(17, 17, 17);
}
.vision {
  color: rgb(1, 172, 253);
}
.banner-description {
  font-size: 20px;
  font-weight: 400;
  color: rgb(17, 17, 17);
}
.btn-enroll {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background: rgb(17, 17, 17);
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

/* section-1 styles */

.section-1 {
  max-width: 1440px;
  padding: 60px 0;
  margin: 0 140px;
  text-align: center;
  background-image: url(../assets/bg.png);
}
.section-card {
  margin-top: 80px;
}
.card-one {
  width: 385px;
  height: 475px;
  text-align: center;
  padding: 60px 40px;
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-two {
  width: 385px;
  height: 475px;
  text-align: center;
  padding: 60px 40px;
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-three {
  width: 385px;
  height: 475px;
  text-align: center;
  padding: 60px 40px;
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.section-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(32, 32, 32);
  margin-top: 35px;
}
.card-description {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(128, 128, 128);
  margin-top: 35px;
}
.card-footer-1 {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(100, 200, 255);
  margin-top: 50px;
}
.card-footer-2 {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(240, 170, 0);
  margin-top: 50px;
}
.card-footer-3 {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(135, 0, 255);
  margin-top: 50px;
}

.section-card {
  justify-content: space-between;
}
.btn-slide {
  margin-top: 80px;
}
.btn-previous-slide {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: Orange;
  border: none;
}
.btn-next-slide {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: Orange;
  margin-left: 10px;
  border: none;
}
.fa-solid {
  color: white;
  font-size: 24px;
  font-weight: 900;
}

/* footer style */
footer {
  max-width: 1070px;
  height: 300px;
  margin: 0 140px;
  padding: 123px 228px 178px 140px;
  background: rgb(1, 172, 253);
  display: flex;
  justify-content: space-between;
}
.img-text-container {
  align-items: center;
}
.img-logo {
  width: 85px;
  height: 85px;
  background: white;
}
.text {
  font-size: 2.6rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-left: 15px;
}
.left-item-description {
  width: 400px;
  height: 100px;
  font-size: 1.25rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-top: 35px;
}
.top-field {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 32px;
}
.home-text, .about-text, .facilities-text, .admission-text {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.home-text, .about-text, .facilities-text{
  margin-bottom: 20px;
}
.social-media{
  max-width: 200px;
}
.social-media, img{
  width: 40px;
  height: 40px;
  gap: 10px;
}